<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="SourceAFIS" Id="EF99AD8E-CC3D-491F-BF1F-4F998007A918" UpgradeCode="314DD5F0-4709-4378-915F-22526D7919F5" Language="1033" Codepage="1252" Version="1.0" Manufacturer="Robert Vanak">
    <Package Id="*" Keywords="Installer" Description="SourceAFIS Installer" Comments="SourceAFIS is an open-source fingerprint matcher." InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="SourceAFIS.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="SourceAFIS Installation [1]" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="SourceAFIS">
          <Directory Id="Bin" Name="Bin">
            <Component Id="MainExecutable" Guid="D0A55818-5C4A-4707-8FCB-ABFAEC209C6F">
              <File Id="FoobarEXE" Name="FingerprintAnalyzer.exe" DiskId="1" Source="Bin\FingerprintAnalyzer.exe" KeyPath="yes">
                <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir" Name="Fingerprint Analyzer" WorkingDirectory="INSTALLDIR" Icon="FingerprintAnalyzer.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>
          </Directory>
          <Directory Id="Documentation" Name="Documentation">
            <Directory Id="SourceAFIS" Name="SourceAFIS">
              <Directory Id="html" Name="html" />
              <Directory Id="icons" Name="icons" />
              <Directory Id="scripts" Name="scripts" />
              <Directory Id="styles" Name="styles" />
            </Directory>
          </Directory>
          <Directory Id="Sample" Name="Sample">
            <Directory Id="bin" Name="bin">
              <Directory Id="Debug" Name="Debug" />
            </Directory>
            <Directory Id="dll" Name="dll" />
            <Directory Id="images" Name="images" />
            <Directory Id="Properties" Name="Properties" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="SourceAFIS">
          <Component Id="ProgramMenuDir" Guid="FB0CD19C-EBEB-4D6E-8DCF-9E4699C16576">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>
    <Icon Id="FingerprintAnalyzer.exe" SourceFile="Bin\FingerprintAnalyzer.exe" />
  </Product>
</Wix>