# Common operating system files
*~
.DS_Store
Thumbs.db
.directory
.fuse_hidden*
.nfs*

# Common IDE/editor files
.vscode/
.idea/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]eleases/
[Rr]elease/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
*.sln.iml

# NuGet packages
*.nupkg
*.snupkg
**/[Pp]ackages/
