bin
obj
*.suo
Data/TestDatabase
*.pidb
*.userprefs
DocProject/Help/Html2
*.HxC
*.HxT
*.hhc
*.hhk
DocProject/Help/html
*.HxK
DocProject/buildhelp
Sample/dll
*.hhp
*.HxF
*.user
.metadata
Data/JavaTestData
java/*/dist
java/*/lib
deps/*
java/*/doc
Data/LinuxShare
Data/CodeSigningKey.pfx
Data/CodeSigningKeyPassword.txt
Data/WindowsFTP.txt
